body{
	 background-image: url(../Hip/ugh.jpg);
	 background-repeat: no-repeat;
	 background-position: center;
	 background-size: 100%;
	 background-attachment: fixed;
}

#mytitle{
	 top: 50px;
	 margin-left: 475;
	 position: relative;
	 background-image: url(../Hip/32.png);
	 background-repeat: no-repeat;
	 background-size: 75%;
}

.pic {
	display: inline-block;
	width: 30%;
	height: 360px;
	border-radius: 20px 20px 20px 20px;
	margin-top: 20%;
	left: 580px;
	opacity: 75%;
	align-items: center;
	z-index: -1;
 }
 
 #pic1 {
	background-image: url(../Hip/ds.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
 }

 .pag {
	display: flex;
	width: 50%;
	height: 90vh;
	border-radius: 20px 20px 20px 20px;
	top: 30px;
	left: 450px;
	opacity: 50%;
	align-items: center;
	z-index: -2;
 }
 
 #pag1 {
	background-image: url(../Hip/gr.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
 }

.pot{
    display: inline-block;
	width: 280px;
	height: 280px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.urg{
	margin: 10px;
	font-family: Century Gothic;
	color: yellow;
	font-size: 15pt;
	font-weight: 700;
	display: flex;
	position: absolute;
	top: 300;
	left: 740;
	justify-content: center;
}

.urg1{
	margin: 10px;
	text-align: center;
	font-family: Century Gothic;
	color: ivory;
	font-size: 15pt;
	display: flex;
	position: absolute;
	top: 330;
	left: 640;
	justify-content: center;
}

.urg2{
	margin: 10px;
	text-align: center;
	font-family: Century Gothic;
	color: yellow;
	font-size: 15pt;
	font-weight: bold;
	display: flex;
	position: absolute;
	top: 360;
	left: 730;
	justify-content: center;
}

.urg3{
	margin: 10px;
	text-align: center;
	font-family: Century Gothic;
	color: ivory;
	font-size: 15pt;
	display: flex;
	position: absolute;
	top: 390;
	left: 640;
	justify-content: center;
}

.urg4{
	margin: 10px;
	text-align: center;
	font-family: Century Gothic;
	color: yellow;
	font-size: 15pt;
	font-weight: 700;
	display: flex;
	position: absolute;
	top: 420;
	left: 745;
	align-content: center;
	justify-content: center;
}

.urg5{
	margin: 10px;
	text-align: center;
	font-family: Century Gothic;
	color: ivory;
	font-size: 15pt;
	display: flex;
	position: absolute;
	top: 450;
	left: 740;
	justify-content: center;
}

.urg6{
	margin: 10px;
	text-align: center;
	font-family: Century Gothic;
	color: yellow;
	font-size: 15pt;
	font-weight: 700;
	display: flex;
	position: absolute;
	top: 480;
	left: 730;
	justify-content: center;
}

.urg7{
	margin: 10px;
	text-align: center;
	font-family: Century Gothic;
	color: ivory;
	font-size: 15pt;
	display: flex;
	position: absolute;
	top: 510;
	left: 725;
	justify-content: center;
}

.urg8{
	margin: 10px;
	text-align: center;
	font-family: Century Gothic;
	color: yellow;
	font-size: 15pt;
	font-weight: 700;
	display: flex;
	position: absolute;
	top: 540;
	left: 710;
	justify-content: center;
}

.urg9{
	margin: 10px;
	text-align: center;
	font-family: Century Gothic;
	color: ivory;
	font-size: 15pt;
	display: flex;
	position: absolute;
	top: 570px;
	left: 675px;
	justify-content: center;
}

*{
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.wrapper{
  display: flex;
  position: relative;
}


.wrapper .sidebar{
  width: 250px;
  height: 100%;
  background: darkslategray;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: gold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  font-family: Corbel;
  font-weight: bold;
  font-size: 25pt;
}

.wrapper .sidebar ul li{
  padding: 25px 10px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  font-family: Candara;
  font-size: 16pt;
  color: mintcream;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: cornsilk;
}
    
.wrapper .sidebar ul li:hover a{
  color: black;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}
