body {
	background-image: url(../Hip/45.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-attachment: fixed;
}


#UniInput {
	   height: 8vh;
	   width: 20vw;
}

#FPass {
	   text-decoration: none;
}

#mytitle {
	   font-family: Rockwell;
	   color: goldenrod;
	   font-size: 45pt;
	   text-shadow: 9px 8px 9px rgba(0, 0, 0, 0.8);
	   display: flex;
	   position: absolute;
	   margin-top: 30;
	   transform: translate(50%,50%);
	   width: 50%;
	   height: 15%;
     	   border-radius: 20px 20px 20px 20px;
	   background: rgba(0.1, 0.2, 0.3, 0.8);
	   flex-direction: column;
      	   align-items: center;
	   justify-content: center;
}

.pic {
	display: inline-block;
	width: 50%;
	height: 350px;
	border-radius: 20px 20px 20px 20px;
	margin-top: 30;
	transform: translate(50%,50%);
	opacity: 75%;
	z-index: -1;
 }
 
 #pic1 {
	background-image: url(../Hip/ds.jpg);
	background-repeat: no-repeat;
	position: fixed;
 }

p{
   margin: 10px;
}

.log {
   font-family: Verdana, sans-serif;
   color: springgreen;
   font-size: 18pt;
   display: flex;
   position: absolute;
   top: 230px;
   left: 540px;
   flex-direction: column;
   text-align: center;
   justify-items: center;
}

.log1 {
   font-family: Verdana, sans-serif;
   color: aqua;
   font-size: 18pt;
   display: flex;
   position: absolute;
   top: 329px;
   left: 540px;
   flex-direction: column;
   text-align: center;
   justify-content: center;
}

.abc {
   font-family: Verdana, sans-serif;
   font-size: 15pt;
   display: inline-block;
   position: relative;
   top: 410px;
   left: 625px;
   flex-direction: row;
   text-align: center;
}

a {
   color: lavender;
}

button {
	   background-color: whitesmoke;
	   border-radius: 30px;
	   color: teal;
	   text-decoration: none;
	   font-family: High Tower Text;
	   font-weight: bold;
	   font-size: 15pt;
	   width: 90px;
	   height:40px;
}

.on {
   display: flex;
   position: absolute;
   top: 465px;
   left: 630px;
   flex-direction: column;
   text-align: center;
   justify-content: center;
}

.LoginName[type=text] {
			   border: 10px solid #aaa;
			   border-radius: 4px;
			   outline: none;
			   padding: 20px;
			   box-sizing: border-box;
			   transition: 3s;
               		   text-align: center;
	   }
	 
.LoginName[type=text]:focus {
			   border-color: cadetblue;
			   box-shadow: 0 0 10px 0 cadetblue;
                           text-align: center;
}

.LoginPass[type=password] {
			   border: 10px solid #aaa;
			   border-radius: 4px;
			   outline: none;
			   padding: 20px;
			   box-sizing: border-box;
			   transition: 3s;
              		   text-align: center;
}

.LoginPass[type=password]:focus {
				border-color: forestgreen;
				box-shadow: 0 0 10px 0 forestgreen;
}
