body {
	background-image: url(../Hip/45.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-attachment: fixed;
}


#UniInput {
	   height: 8vh;
	   width: 20vw;
}

#FPass {
	   text-decoration: none;
}

#mytitle {
	   font-family: Rockwell;
	   color: goldenrod;
	   font-size: 45pt;
	   text-shadow: 9px 8px 9px rgba(0, 0, 0, 0.8);
	   display: flex;
	   position: absolute;
	   top: 70;
	   left: 340;
	   width: 50%;
	   height: 15%;
	   background: rgba(0.1, 0.2, 0.3, 0.8);
	   flex-direction: column;
	   align-items: center;
	   justify-content: center;
}

p{
   margin: 10px;
}

.log {
   font-family: Verdana, sans-serif;
   color: springgreen;
   font-size: 18pt;
   display: flex;
   position: absolute;
   top: 227;
   left: 330;
   width: 50%;
   height: 15%;
   background: rgba(0.1, 0.2, 0.3, 0.6);
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.log1 {
   font-family: Verdana, sans-serif;
   color: aqua;
   font-size: 18pt;
   display: flex;
   position: absolute;
   top: 329;
   left: 330;
   width: 50%;
   height: 15%;
   background: rgba(0.1, 0.2, 0.3, 0.6);
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.abc {
   font-family: Verdana, sans-serif;
   font-size: 15pt;
   display: flex;
   position: absolute;
   top: 431;
   left: 330;
   width: 50%;
   height: 4%;
   background: rgba(0.1, 0.2, 0.3, 0.6);
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

a {
   color: lavender;
}

button {
	   background-color: whitesmoke;
	   border-radius: 30px;
	   color: teal;
	   text-decoration: none;
	   font-family: High Tower Text;
	   font-weight: bold;
	   font-size: 15pt;
	   width: 90px;
	   height:40px;
}

.on {
   display: flex;
   position: absolute;
   top: 468;
   left: 340;
   width: 50%;
   height: 12%;
   background: rgba(0.1, 0.2, 0.3, 0.6);
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.LoginName[type=text] {
			   border: 10px solid #aaa;
			   border-radius: 4px;
			   outline: none;
			   padding: 20px;
			   box-sizing: border-box;
			   transition: 3s;
			   text-align: center;
	   }
	 
.LoginName[type=text]:focus {
			   border-color: cadetblue;
			   box-shadow: 0 0 10px 0 cadetblue;
}

.LoginPass[type=password] {
			   border: 10px solid #aaa;
			   border-radius: 4px;
			   outline: none;
			   padding: 20px;
			   box-sizing: border-box;
			   transition: 3s;
			   text-align: center;
}
	 
.LoginPass[type=password]:focus {
				   border-color: forestgreen;
				   box-shadow: 0 0 10px 0 forestgreen;
}
