body {
	background-image: url(../Hip/45.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-attachment: fixed;
}

#UniInput {
	   height: 8vh;
	   width: 20vw;
}

#mytitle {
	   font-family: Rockwell;
	   color: goldenrod;
	   font-size: 45pt;
	   text-shadow: 9px 8px 9px rgba(0,0,0,0.9);
	   display: flex;
	   position: absolute;
	   top: 30px;
	   left: 340px;
	   width: 50%;
	   height: 15%;
	   border-radius: 20px 20px 20px 20px;
	   background: rgba(0.1, 0.2, 0.3, 0.8);
	   flex-direction: column;
	   align-items: center;
	   justify-content: center;
}

.pic {
	display: inline-block;
	width: 50%;
	height: 420px;
	border-radius: 20px 20px 20px 20px;
	top: 190px;
	left: 340px;
	opacity: 75%;
	z-index: -1;
 }
 
 #pic1 {
	background-image: url(../Hip/ds.jpg);
	background-repeat: no-repeat;
	position: fixed;
 }

p{
   margin: 10px;
}

.log {
   font-family: Verdana, sans-serif;
   color: navajowhite;
   font-size: 18pt;
   display: flex;
   position: absolute;
   top: 198px;
   left: 540px;
   text-align: center;
   flex-direction: column;
   justify-items: center;
}

.log1 {
   font-family: Verdana, sans-serif;
   color: springgreen;
   font-size: 18pt;
   display: flex;
   position: absolute;
   top: 300px;
   left: 540px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.log2 {
   font-family: Verdana, sans-serif;
   color: aqua;
   font-size: 18pt;
   display: flex;
   position: absolute;
   top: 402px;
   left: 540px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

a {
   color: black;
}

.abc {
   margin: 1px;
   font-family: Bahnschrift SemiBold;
   color: black;
   font-size: 14pt;
}

button {
	   background-color: whitesmoke;
	   border-radius: 30px;
	   color: teal;
	   text-decoration: none;
	   font-family: High Tower Text;
	   font-weight: bold;
	   font-size: 15pt;
	   width: 8vw;
	   height:6vh ;
}

.on {
   display: flex;
   position: absolute;
   top: 520px;
   left: 620px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.AccountCreateID[type=number] {
			   border: 10px solid #aaa;
			   border-radius: 4px;
			   outline: none;
			   box-sizing: border-box;
			   transition: 3s;
			   text-align: center;
}

.AccountCreateID[type=number]:focus {
				   border-color: crimson;
				   box-shadow: 0 0 10px 0 crimson;
}

.AccountCreateName[type=text] {
			   border: 10px solid #aaa;
			   border-radius: 4px;
			   outline: none;
			   padding: 20px;
			   box-sizing: border-box;
			   transition:3s;
			   text-align: center;
}

.AccountCreateName[type=text]:focus {
				   border-color: cadetblue;
				   box-shadow: 0 0 10px 0 cadetblue;
}

.AccountCreatePass[type=password] {
				   border: 10px solid #aaa;
				   border-radius: 4px;
				   outline: none;
				   padding: 20px;
				   box-sizing: border-box;
				   transition:3s;
				   text-align: center;
}

.AccountCreatePass[type=password]:focus {
					border-color: forestgreen;
					box-shadow: 0 0 10px 0 forestgreen;
}
